//out: false
#single-trip{
    display: flex;
    position: absolute;
    width: 0;
    height: 100vh;
    transition: .4s;
    z-index: 1;
    top: 0;
    right: -100vw;
    overflow: hidden;
    
    #sidebar {
        width: 80vw;
        height:100vh;
        background-color: white;
        z-index: 2;

        #trip-legs{
            margin: 20px;

            .main-station{
                margin: 5px 0px;
                display: flex;
                justify-content: space-between;
                max-width: 100%;
            }

            .inbetween-stations{
                height: fit-content;
                max-height:47px;
                width: 240px;
                overflow: scroll;
                margin-left: 10px;

                #inbetween-station{
                    display: flex;
                    justify-content: space-between;
                    max-width: 100%;

                    h5{
                        color: rgb(136, 136, 136);
                    }
                }
                

                .inbetween-stations-inner{
                    @y-transform: -100% + 35px;
                    height: fit-content;
                    animation: slide-up 12s linear infinite alternate;
                    @keyframes slide-up {
                        from {
                            -webkit-transform: translateY(0);
                            transform: translateY(0);
                        }
                        to {
                            -webkit-transform: translateY(@y-transform);
                            transform: translateY(@y-transform);
                        }
                    }
                }
            }
        }

        #locations-list{
            margin: 20px;
            max-height: 500px;  
            overflow: scroll;

            .location{
                display: flex;
                justify-content: space-between;
                align-items: center;
                #name-checkbox{
                    display: flex;
                    align-items: center;

                    .box-check{
                        width:10px;
                        height:10px;
                        border: rgb(10, 10, 72) 2px solid;
                        border-radius: 30%;
                        background-color: none;
                        margin-right: 5px;
                    }
                    .box-check:hover{
                        cursor: pointer;
                    }
                    .checked-box{
                        background-color: rgb(87, 80, 158);
                    }
                }
                #map-flip{
                    margin-right: 5px;
                }
                #map-flip:hover{
                    cursor: pointer;
                }   
            }
        }

        .text-copy{
            display: flex;
            height: 40px;
            width: 140px;
            margin-left: 25%;
            background-color: #C8DAF3;
            border-radius: 10px;
            justify-content: center;
            align-items: center;
        }
    }

    #background-fade {
        width:20vw;
        height:100vh;
        background-color: black;
        transition: .35s;
        opacity: 0.0;
    }

    #background-fade.active{
        opacity: 0.3;
    }
}
    
#single-trip.active {
    width: 100vw;
    right: 0;
}

.map-h2 {
    text-transform: uppercase;
    font-size: 1rem;
    padding: 20px;
    padding-left: 10px;
    text-align: center;
  }
  
  .google-map {
    width: 100%;
    height: 20vh;
  }
  
  .pin {
    display: flex;
    align-items: center;
    width: 32px;
    color: var(--main-blue);
  }
  
  .pin-icon {
    font-size: 2rem;
  }
  
  .pin-text {
    font-size: 0.6em;
  }