//out: false
#train-planner{
    height: 100%;
    width: 100%;
    justify-content: center;
    
    #form{
        min-width: 350px;
        max-width: 400px;
        border: red 5px solid;
        display: flex;
        flex-direction:column;

        .two-stations{
            display: flex;
        }
        .arrivalBoolbtn{
            background-color: aliceblue;
            border-style: solid;
            border-color:rgb(229, 238, 246);
            padding:6px;
            margin: 0px;
            text-decoration: underline;
        }
        
        .selected-arrival-active{
            color:rgb(11, 29, 101);
        }
        
        .selected-arrival-inactive{
            color:rgb(139, 139, 139);
        } 
    }
}