//out: false
.trip-list{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 77vw;
    max-width: 19.5em;
    height: 30em;
    max-height: 58%;
    overflow: scroll;
    background-color:#F9FCFF;
    border: #A5BFE4 4px solid;
    border-radius: 1.5em;
    padding: 15px;
    margin-top: 1.2em;

    .single-trip{
        width: 90%;
        min-height: 3em;
        border: #A5BFE4 4px solid;
        background-color: white;
        border-radius: 0.7em;
        margin-bottom: 1.2em;
        padding: 0.5em;
        
        .travel-time{
            width: 100%;
            display: flex;
            justify-content: space-between;
        }
    }
}

#loading-wheel{
    margin-top: 10vh;
}