* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  color: #062655;
}
#train-planner {
  height: 100%;
  width: 100%;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 5vh;
}
#train-planner #form {
  display: flex;
  justify-content: center;
  width: 80vw;
  max-width: 20em;
  height: min-content;
  padding: 1em;
  background-color: #2560B7;
  border-radius: 1.5em;
  flex-direction: column;
}
#train-planner #form .station-input {
  font-size: large;
  width: 75%;
  height: 1.5em;
  border-radius: 0.5em;
  outline: none;
  padding-left: 0.5em;
  margin-bottom: 0.5em;
}
#train-planner #form .date-and-time {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-bottom: 0.8em;
}
#train-planner #form .date-and-time .selector {
  margin-right: 0.7em;
  font-size: large;
  width: 40%;
  height: 1.5em;
  margin-top: 0.1em;
  border-radius: 0.5em;
  outline: none;
  padding-left: 0.5em;
}
#train-planner #form .date-and-time .selector:hover {
  cursor: pointer;
}
#train-planner #form .date-and-time .selector2 {
  font-size: large;
  width: 93%;
  height: 1.5em;
  border-radius: 0.5em;
  outline: none;
  padding-left: 0.5em;
}
#train-planner #form .date-and-time .selector2:hover {
  cursor: pointer;
}
#train-planner #form .arrival-departure-submit-btn {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}
#train-planner #form .arrival-departure-submit-btn .dep-arr {
  display: flex;
  align-items: center;
  margin-right: 1.3em;
  margin-left: 0.5em;
}
#train-planner #form .arrival-departure-submit-btn .dep-arr .arrivalBoolbtn {
  max-width: min-content;
  margin-right: 0.5em;
  text-decoration: underline;
  font-size: large;
}
#train-planner #form .arrival-departure-submit-btn .dep-arr .arrivalBoolbtn:hover {
  cursor: pointer;
}
#train-planner #form .arrival-departure-submit-btn .dep-arr .selected-arrival-active {
  color: #ffffff;
}
#train-planner #form .arrival-departure-submit-btn .dep-arr .selected-arrival-inactive {
  color: #A5BFE4;
}
#train-planner #form .arrival-departure-submit-btn .submit-btn {
  width: 30%;
  height: 1.8em;
  font-size: large;
  color: #1C3F73;
  background-color: #C8DAF3;
  border-radius: 0.5em;
}
#train-planner #form .arrival-departure-submit-btn button:hover {
  cursor: pointer;
}
.trip-list {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 77vw;
  max-width: 19.5em;
  min-height: 30em;
  max-height: 30em;
  overflow: scroll;
  background-color: #F9FCFF;
  border: #A5BFE4 4px solid;
  border-radius: 1.5em;
  padding: 15px;
  margin-top: 1.2em;
}
.trip-list .single-trip {
  width: 90%;
  min-height: 3em;
  border: #A5BFE4 4px solid;
  background-color: white;
  border-radius: 0.7em;
  margin-bottom: 1.2em;
  padding: 0.5em;
}
.trip-list .single-trip .travel-time {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
#loading-wheel {
  margin-top: 10vh;
}
#single-trip {
  display: flex;
  position: absolute;
  width: 0;
  height: 100vh;
  transition: 0.4s;
  z-index: 1;
  top: 0;
  right: -100vw;
  overflow: hidden;
}
#single-trip #sidebar {
  width: 80vw;
  height: 100vh;
  background-color: white;
  z-index: 2;
}
#single-trip #sidebar #trip-legs {
  margin: 20px;
}
#single-trip #sidebar #trip-legs .main-station {
  margin: 5px 0px;
}
#single-trip #sidebar #trip-legs .inbetween-stations {
  height: fit-content;
  max-height: 40px;
  width: 250px;
  overflow: scroll;
  margin-left: 10px;
}
#single-trip #sidebar #trip-legs .inbetween-stations .inbetween-stations-inner {
  height: fit-content;
  animation: slide-up 12s linear infinite alternate;
}
@keyframes slide-up {
  from {
    -webkit-transform: translateY(5px);
    transform: translateY(5px);
  }
  to {
    -webkit-transform: translateY(-65%);
    transform: translateY(-65%);
  }
}
#single-trip #sidebar #locations-list {
  margin: 20px;
  max-height: 500px;
  overflow: scroll;
}
#single-trip #sidebar #locations-list .location {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#single-trip #sidebar #locations-list .location #name-checkbox {
  display: flex;
  align-items: center;
}
#single-trip #sidebar #locations-list .location #name-checkbox .box-check {
  width: 10px;
  height: 10px;
  border: #0a0a48 2px solid;
  border-radius: 30%;
  background-color: none;
}
#single-trip #sidebar #locations-list .location #name-checkbox .box-check:hover {
  cursor: pointer;
}
#single-trip #sidebar #locations-list .location #name-checkbox .checked-box {
  background-color: #57509e;
}
#single-trip #sidebar #locations-list .location #map-flip:hover {
  cursor: pointer;
}
#single-trip #sidebar .text-copy {
  display: flex;
  height: 40px;
  width: 140px;
  margin-left: 25%;
  background-color: #C8DAF3;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
}
#single-trip #background-fade {
  width: 20vw;
  height: 100vh;
  background-color: black;
  transition: 0.35s;
  opacity: 0;
}
#single-trip #background-fade.active {
  opacity: 0.3;
}
#single-trip.active {
  width: 100vw;
  right: 0;
}
