.navBar {
    display: flex;
    justify-content: space-evenly;
    padding: 2%;
    overflow: hidden;
    background-color: rgb(6, 3, 13);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
}

.nav-links {
    font-size: 3vh;
    color: whitesmoke;
    text-decoration: none;
}

/* HOME PAGE  */

.all-else {
    margin-top: 8%;
}

.center-text {
    display: flex;
    justify-content: center;
}

.single-train {
    border-style: solid;
    border-color: black;
    border-width: 2px;
    padding: 5%;
    margin: 0px 5px;
}

.on-station {
    background-color: rgb(165, 201, 136);
}

.incoming {
    background-color: rgb(197, 211, 233);
}   
.departed {
    background-color: rgb(226, 184, 181);
}   

