 /* NAV BAR */
.navBar {
    background-color: rgb(6, 3, 13);
    display: flex;
    justify-content: space-evenly;
    padding: 20px 25%;
}

.nav-links {
    font-size: 3vh;
    color: whitesmoke;
    text-decoration: none;
}

/* HOME PAGE */
.center-text {
    display: flex;
    justify-content: center;
    margin-top: 5%;
}