        // out: "../../public/main.css"
*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: #062655;
}

@import "./nav_bar/navbar.less";
@import "./trip_planner/trip_planner.less";
@import "./trip_planner/trip_list.less";
@import "./trip_planner/single_trip.less";